#placement-area {
    width: 100%;
    max-width: 1100px;
}

.ship-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 15px;
    margin-bottom: 1.5rem; 
    justify-items: center;
    align-items: center;
    min-height: 150px; 
}

.ship-representation {
    display: flex;
    border: 1px dashed var(--bs-secondary);
    padding: 2px;
    cursor: grab;
    user-select: none;
    transition: opacity 0.2s ease;
    width: min-content;
    height: min-content;
}
.ship-representation.vertical {
    flex-direction: column;
}

.ship-segment {
    width: 30px;
    height: 30px;
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-dark);
    box-sizing: border-box;
}

.ship-representation:active {
    cursor: grabbing;
}

.ship-representation.dragging {
    opacity: 0.4;
    border-style: solid;
    border-color: var(--bs-danger);
}

.ship-representation.placed {
    opacity: 0.3;
    cursor: default;
    border-style: solid;
    border-color: var(--bs-light);
}

.game-status-placement {
     min-height: 1.5rem; 
}